/*
gibt nichts
*/

div{
    background-color: aqua;
}

.green{
    cursor: default;
    position: relative;
    top: 200px;
    left: 100px;
}

p{
    color: black;
    cursor: pointer;
}

.box-Color-0{
    background-color: #eeeeee;
}

.box-Color-1{
    background-color: red;
}

.box-Color-2{
    background-color: springgreen;
}